.header{
  max-width:100%;
  margin-top: 28px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:rgb(84, 84, 84, 0.7);
  padding-bottom: 31.6px;
}

@media(min-width:768px){
  .header{
    margin: 36px auto 0;
    max-width: 580px;
    padding-bottom: 36px;
  }
}

@media(min-width:1279px){
  .header{
    max-width:880px;
    margin: 45px auto 0;
    padding-bottom: 41px;
  }
 }