.popup__named{
  font-weight: 900;
  font-size: 18px;
  line-height: 21.78px;
  text-align: center;
  margin:25px 0 75px;
}
@media(min-width:768px){
  .popup__named{
  font-size: 24px;
  line-height: 29.5px;
  margin:34px 0 54px;
  }
}